

.btn-success{
	background-color: #007ee2;
	border-color:#007ee2 ;
}

.btn-success:hover{
	background-color: #09406c;
	border-color:#007ee2;
}

li{
	padding-right: 10px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffff;
}

#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70%;
  min-width: 300px;
}

h1 {
  text-align: center;  
}



/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}



button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
.link{
	text-decoration: none;
}
.questions {
  display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: center;
    overflow: auto;
    /* height: 44%; */
    max-height: 300px;
    padding: 14px;
}
.popover{
	max-width: 500px;
}
.testo{
	display: flex;
	justify-content: space-between;
}

 .about-area .about-title p{
    padding: 1rem 7rem;
}

 .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

 .about-area .client .client-img{
    padding: 2rem;
}

 .about-area .client .about-client{
    padding-top: 2rem;
}

 .about-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}

 .about-area .client .about-client p{
    font-size: 14px;
}

 .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

 .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 500px;
}
.logo-part {
    border-right: 1px solid grey;
    height: 100%;
    }
    
    .logo-footer {
        margin-bottom: 40px;
     }

/* Taller footer on small screens */
@media (max-width: 500px) {
    body {
      margin-bottom: 700px;
    }
    .footer {
      height: 700px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
html {
  position: relative;}
footer {
  padding-top: 30px;
  background-color: #e2f6f691;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #bdbdbd91;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}