
.modal-option {
    width: 50% !important;
    height: 75% !important;
    max-width: 50%;
    min-width: 50%;
    padding: 0;
}
.cont {
    height: auto;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: hidden;
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

@media (min-width: 576px){
.col-sm-6 {
	flex: 0 0 100%;
	max-width: 100%;

}
}
.preview{
	border-radius: 50%;
	    border: 1px dashed #444;
    width: 200px;
    height: 200px;
    transition: 500ms all;
     position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.images{
	display: flex;
    flex-wrap: wrap;
    max-height: 390px;
    max-width: 100%;
    justify-content: center;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mr{
	padding: 7px;
}

.photo-upload{
		height: auto;
		margin: 20px 0;
		position :relative;
		text-align :center;
		width :100%;
}
	.input-file{
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		width: 0.1px;
		z-index: -1;
		}
		
		.label{
		background: #a5a1a1a8;
			border-radius: 50%;
			display: inline-block;
			text-align: center;
  			cursor: pointer;
  			border: 1px dashed #444;
    width: 200px;
    height: 200px;
    transition: 500ms all;
    font-size: 4em;
    position: relative;
			}
			
			.labels{
		background: #a5a1a1a8;
			border-radius: 50%;
			display: inline-block;
			text-align: center;
  			cursor: pointer;
  			border: 1px dashed #444;
    width: 200px;
    height: 200px;
    transition: 500ms all;
    font-size: 2em;
    position: absolute;
      top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
			}
			
			.input-hidden {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  border: 1px solid #fff;
  box-shadow: 0 0 3px 3px #090;
}

/* Stuff after this is only to make things more pretty */
input[type=radio] + label>img {
  border: 1px dashed #444;
  width: 200px;
  height: 200px;
  transition: 500ms all;
}

input[type=file] + label>img {
  border: 1px dashed #444;
  width: 200px;
  height: 200px;
  transition: 500ms all;
}


