<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="shortcut icon" href="/images/wikitel.png" />
<title>Wikitel</title>
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.4/css/select.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
	<link rel="stylesheet"	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 
 
 
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
	<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.2/css/buttons.dataTables.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
		<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
	<script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
	<script src="https://kit.fontawesome.com/ced3f913ea.js" crossorigin="anonymous"></script>
	<script src="http://yui.yahooapis.com/3.18.1/build/yui/yui-min.js"></script>
	
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.2.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
		<script type="text/javascript" src="/js/Argomento.js"></script>
		<script type="text/javascript" src="/js/graph.js"></script>
		
		<link th:href="@{/css/teacher_index.css}" rel="stylesheet">
		<link th:href="@{/css/hello.css}" rel="stylesheet">
		<link th:href="@{/css/argomento.css}" rel="stylesheet">
		
		  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
  />
		
		
</head>
<style>
.table_modal{
	    max-width: 676px;
}
#mynetwork {
  width: 100%;
  height: 1000px;
}
.modal-option{
	width: 1200px;
    max-width: none;
    
}
.cont{
	    height: 900px;
}
.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
ul.ui-autocomplete {
    z-index: 1100;
}
body{
	font-family: 'Nunito', sans-serif;
}

.none{
	border:solid .5px #ced4da;
}
.btn{
	margin-bottom: 2%;
}
.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
      margin-bottom: 2%;
    margin-right: 2%;
}
</style>
<script>
function openNav() {
	if(document.getElementById("mySidebar").style.width == "250px"){
   document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
  }else{
	 document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}
}


</script>
<body  >
<div hidden="true" id="nameid" th:value="${user.id}"></div>
<div hidden="true" id="modelid" th:value="${model}"></div>
<nav class="navbar navbar-light bg-light" style="z-index: 1030;">
	<span style="font-size:25px;cursor:pointer;margin-right: 2%;" onclick="openNav()"><i class="fas fa-bars"></i></span>
  <a class="navbar-brand" th:href="@{/default}"><img src="/images/wikitel.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy" >
                WikiTEL </a>
  
  
     <div class="btn-group">
  <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span style="font-size: 18px;"><i class="fas fa-user"></i></span>
  </button>
  
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" th:href="@{profile}">Profile</a></li>
    <button class="dropdown-item" type="button">Another action</button>
    <a th:href="@{/logout}" class="dropdown-item" type="button"><i style="color: red;" class="fas fa-sign-out-alt"></i> Sign Out</a>
  </div>
</div>
    
</nav>
<div id="mySidebar" class="sidebar">
  <a href="#">Dashboard</a>
  <a href="#">Calendar</a>
  <a href="#" data-toggle="modal" data-target="#exampleModalCenter">Partecipanti</a>
  
  <a  data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
    My course
  </a>
  <div class="collapse" id="collapse">
  <div class="card card-body" id="side-bar" th:each="m : ${lesson}"><a style="font-size: 19px;" th:text="${m.name}"th:href="'/lezione/' + ${m.id} "></a></div>
</div>
</div>
 <div id="main">
 
  <div class="rows" id="rows">
  <div class="columns animate__animated animate__bounce" th:each="m : ${lesson}" >
   <div class="cards">
      <a th:href="'/lezione/' + ${m.id}">
         <h3 th:text="${m.name}"></h3>
      </a>
   </div>
</div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#new-lesson-modal">Nuova Lezione</button>
 
 <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Grafico<span><i class="fas fa-project-diagram"></i></span></button>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
   <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#table_modal">Table</button>
    <div id="mynetwork"></div> </div>
</div>
<!-- Modal Table -->
<div class="modal fade" id="table_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog table_modal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
    
        <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Score 1</th>
                <th>Score 2</th>
            </tr>
        </thead>
        <tbody id="row_element">
            
        </tbody>
        <tfoot>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Position</th>
            <th>Score 2</th>
            </tr>
        </tfoot>
    </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
         <button type="button" class="btn btn-sm btn-primary" id="try" onclick="aggiorna()">Aggiorna</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Nuova lesione -->
<div class="modal fade" id="new-lesson-modal" tabindex="-1" aria-labelledby="new-lesson-modal-label" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <form id="new_lesson">
            <div class="modal-header">
               <h5 class="modal-title" id="new-lesson-modal-label">Nuova lezione</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
               <div class="form-floating my-1">
                  <div class="col-sm-9 text-secondary">
                     <div class="name"  >
                        <p id="model_name" th:text="${arg.name}" th:value="${arg.id}" style="font-size: 1.5em;color: black;"></p>
                     </div>
                  </div>
               </div>
               <div class="form-floating my-1">
                  <input type="text" class="form-controls" id="new-lesson-name" placeholder="Nome" required>
                  
               </div>
               <hr />
               <div class="rubrica">
               <button type="button" class="btn btn-primary pos" data-toggle="modal" data-target="#exampleModal">
 <i class="fas fa-address-book"></i>
</button>
               <h6>Studenti</h6></div>
               <div class="col" >
                  <div class="list-group row flex-row mx-1" id="new-lesson-students-list">
                     <div class="form-group">
                     
                        <div class="input-group mb-3">
                           <input type="text" class="form-controls" id="students" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
                           <div class="input-group-append">
                              <button type="button" class="btn btn-info" id="add">add</button>
                           </div>
                        </div>
                        <div class="topics" id="chips" style="max-height:160px;overflow:auto;">
                        </div>
                     </div>
                  </div>
               </div>
               <hr />
               <h6>Obiettivi didattici</h6>
               <div class="form-check" id="lesson_goal">
                   <div th:each="g : ${goal}">
                            <div class="form-check form-switch col">
  <input class="form-check-input" type="checkbox" role="switch"  th:value="${g.id}" th:name="${g.name}">
  <label class="form-check-label" for="flexSwitchCheckDefault" th:text="${g.name}"></label>
</div>
                            </div>
               </div>
            </div>
            <div class="modal-footer">
               <button type="button" onclick="Create_new_lesson()" class="btn btn-sm btn-primary" id="create-new-lesson">Crea</button>
            </div>
         </form>
      </div>
   </div>
</div>
 
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog right">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
         <button class="button" id="button_link" onclick="wiki_link()"></button>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#Add" aria-expanded="false" aria-controls="collapseExample" style="margin-top:1.5% ;">
    Aggiungi nodo <span style="margin-left: 1%;"><i class="fas fa-plus-circle"></i></span>
  </button>
         <div class="collapse" id="Add">
  <div class="card card-body">
  <label for="Add_node_name" class="col-form-label">Nome</label>
  <input type="text" class="form-control none" id="Add_node_name" placeholder="Nome" required>
             <label for="new-rule-type" class="col-form-label">Tipo</label>     
   <select class="form-select" id="new-rule-type" aria-label="Tipo di obiettivo" onChange="update()">
                     <option value="1">Testo</option>
                     <option value="4">File</option>
                     <option value="2">Pagina Web</option>
                     <option value="3">Pagina Wikipedia</option>
                  </select>
                       <div id="url" style="display: none;margin-top: 2%;margin-bottom:2%;">
                     <label for="new-rule-url">URL</label>
                     <input type="url" class="form-control none" id="new-rule-url" placeholder="URL">
                     <div class="invalid-feedback">
          Please a name for your modal.
      
                  </div>
                  </div>
                   <div class="form-group" id="textarea" style="margin-top: 2%;">
    <textarea class="form-control none" id="rule_Textarea" rows="3"></textarea>
  </div>
  <div class="mb-3" id="file" style="display: none;">
  <label for="formFile" class="form-label"></label>
  <input class="form-control" type="file" id="formFile">
</div>
<label for="graph_rilevanza" class="col-form-label">Rilevanza</label>
 <select class="form-select" id="graph_rilevanza" aria-label="Tipo di obiettivo" onChange="update_add()">
                     <option value="1">Alternativa</option>
                     <option value="2">approfondimento</option>
                  </select>
<button type="button" class="btn btn-primary" onclick="addNode()" style="margin-top: 1%;">Add</button>
    </div>
</div>
<button type="button" class="btn btn-primary" onclick="esplora()" style="margin-top: 1%;">Esplora nodo</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-option" role="document">
    <div class="modal-content cont">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body flex">
      <div class="search_bar">
       <div class="mt-3 inputs"> <i class="fa fa-search"></i> <input type="text" class="form-control " id="search" placeholder="Search Tasks..." onkeyup="searchFunction()"> </div>
      </div>
      <div id="root" class="profile_card">
         <div class="card profile-card-1">
       
       
         </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
  
</div>

</body>

